doctype html
html
  head
    // Pulling Awesome Font
    link(href='/static/css/bootstrap.min.css', rel='stylesheet')
    link(href='/static/css/custom.css', rel='stylesheet')
    link(href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet")
  body(onload="startTime()")
    ul.nav.nav-pills(style='float:right')
      li.active(role='presentation')
        a(href='#') Home
      li(role='presentation')
        a(href='#') Profile
      li(role='presentation')
        a(href='#') Messages
      li
        button.btn.btn-primary(type='button')
          | Clock 
          span.badge#tim 7

    .container
      .row(style='padding-top:70px')
        .col-md-offset-3.col-md-6
          div(class="alert alert-warning" id='extra' role="alert" style='display:none') 
          - if ( batch == 0 )
            div(class="alert alert-warning" id='extra' role="alert" style='display:none') 
              | No orders can be placed
          - else if ( batch )
            div(class="alert alert-warning" id='extra' role="alert") 
              | Recieving orders for batch #{batch}
          .form-login
            h4 Enter the Details
            input.form-control.input-sm.chat-input(id='name',type='text', placeholder='username')
            br
            input.form-control.input-sm.chat-input(id='address',type='text', placeholder='Address')
            br
            .row
                .col-md-4
                    input.form-control.input-sm.chat-input(id='parcel1',type='text', placeholder=' Parcel1 ')
                .col-md-4
                    input.form-control.input-sm.chat-input(id='parcel2',type='text', placeholder=' Parcel2 ')
                .col-md-4
                    input.form-control.input-sm.chat-input(id='parcel3',type='text', placeholder=' Parcel3 ')
            .row
            .row
                .col-md-4.space
                    label(class="checkbox-inline")
                    input(id='parcel1_b',type="checkbox",data-toggle="toggle",data-on="Brittle",data-off="NA")
                .col-md-4.space
                    label(class="checkbox-inline")
                    input(id='parcel2_b',type="checkbox",data-toggle="toggle",data-on="Brittle",data-off="NA")
                .col-md-4.space
                    label(class="checkbox-inline")
                    input(id='parcel3_b',type="checkbox",data-toggle="toggle",data-on="Brittle",data-off="NA")
            .row
              .col-md-12.space(style='text-align:center')
                | City : 
                select#city
                  option(value='banglore') banglore
                  option(value='delhi') delhi
                  option(value='goa') goa
                  option(value='jk') J & K
                  option(value='chennai') chennai
                  option(value='punjab') punjab
                  option(value='chandigadh') chandigadh
                  option(value='kolkata') kolkata
                  option(value='hyderabad') hyderabad
                  option(value='gandhinagar') gandhinagar
            .row.space
            | * Enter the Parcel weight in grams
            br.space
            br
            .wrapper
              span.group-btn
                a.btn.btn-primary.btn-md(onClick='estimate_parcel()')
                  | Get Price Estimate 
            hr
            .wrapper.space
              span.result
            .wrapper
              span.group-btn
                a.btn.btn-primary.btn-md(onClick='submit_order()')
                  | Submit Order
    
      script(src='/static/script/jquery.min.js')
      script(src='https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js')
      script(src='/static/script/script.js')